.div-block {
  position: static;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  width: 40%;
  height: 80%;
  float: left;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #3a73ba;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: Montserrat, sans-serif;
  font-size: 10em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.grid {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-2 {
  grid-column-gap: 650px;
  grid-row-gap: 0px;
  grid-template-areas: ". Area" ". Area-2";
  -ms-grid-columns: 5.25fr 650px 9fr;
  grid-template-columns: 5.25fr 9fr;
  -ms-grid-rows: 0vh 0px 54vh 0px auto 0px auto 0px auto;
  grid-template-rows: 0vh 54vh auto auto auto;
}

.grid-3 {
  grid-row-gap: 174px;
  -ms-grid-columns: 0.25fr 1fr;
  grid-template-columns: 0.25fr 1fr;
  -ms-grid-rows: auto 0px;
  grid-template-rows: auto 0px;
}

.section-2 {
  height: auto;
}

.grid-4 {
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-3 {
  width: auto;
  height: auto;
  background-color: #31377a;
}

.section-3 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.section-4 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 120px;
  -ms-grid-columns: 2fr 1fr 1fr;
  grid-template-columns: 2fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.div-block-4 {
  background-color: #4319ac;
}

.section-5 {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 0px;
  -ms-grid-columns: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
  -ms-grid-rows: 0.25fr minmax(auto, 1fr) 0.25fr;
  grid-template-rows: 0.15fr minmax(auto, 1fr) 0.25fr;
}

.div-block-blue {
  position: static;
  height: 75vh;
  background-color: #3a73ba;
}

.text-block {
  font-family: Montserrat, sans-serif;
  color: #2e2e2e;
  font-size: 44px;
  text-align: center;
  text-transform: uppercase;
}

.name-heading {
  position: static;
  margin-top: -10px;
  font-family: Montserrat, sans-serif;
  color: #2e2e2e;
  font-size: 2.6em;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0em;
  text-transform: capitalize;
}

.header {
  display: -ms-grid;
  display: grid;
  height: 75vh;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: "Area";
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto 0px auto 0px auto 0px auto 0px auto 0px auto;
  grid-template-rows: auto auto auto auto auto auto;
  border-bottom: 10px solid #3a73ba;
}

.header-square {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 100px;
  min-width: 100px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 0px none transparent;
  background-color: #3a73ba;
  text-align: left;
  text-decoration: none;
}

.heading-3 {
  font-family: Montserrat, sans-serif;
  font-size: 200px;
  line-height: 200px;
  text-align: center;
  letter-spacing: normal;
  text-transform: uppercase;
}

.div-block-7 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.heading-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 10em;
  line-height: 100px;
  text-align: center;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

.heading-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  font-family: Montserrat, sans-serif;
  font-size: 200px;
  line-height: 200px;
  text-align: center;
  letter-spacing: 20px;
  text-transform: uppercase;
}

.heading-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 10em;
  line-height: 100px;
  text-align: center;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

.div-block-8 {
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div-block-9 {
  display: block;
  text-align: center;
}

.por {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 10em;
  line-height: 1em;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.heading-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: Montserrat, sans-serif;
  font-size: 10em;
  line-height: 1em;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.heading-8 {
  position: static;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: block;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: Montserrat, sans-serif;
  font-size: 10em;
  line-height: 1em;
  text-align: center;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.div-block-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  justify-items: start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: start;
  -ms-flex-line-pack: start;
  align-content: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.text-span {
  text-align: center;
}

.text-span-2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.text-span-3 {
  display: block;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

.div-block-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.div-type {
  display: -ms-grid;
  display: grid;
  padding-top: 20px;
  grid-auto-columns: 1fr;
  grid-column-gap: 31px;
  grid-row-gap: 70px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
  border-bottom: 0px none #000;
}

.heading-9 {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
}

.gray-box {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 14.25%;
  display: block;
  width: 100px;
  height: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  justify-items: start;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-align-content: end;
  -ms-flex-line-pack: end;
  align-content: end;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #333;
}

.heading-10 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-weight: 700;
}

.ks-header {
  position: static;
  margin-top: -10px;
  margin-bottom: 0px;
  padding-top: 25px;
  border-style: none;
  border-width: 1px;
  border-color: #fff;
  background-color: #3a73ba;
  font-family: Montserrat, sans-serif;
  color: #fff;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
}

.ks-header.brackets {
  font-weight: 300;
}

.brackets {
  font-family: Montserrat, sans-serif;
}

.bracket {
  font-weight: 300;
  text-align: center;
}

.text-span-4 {
  position: static;
  display: inline;
  height: auto;
  float: none;
  border: 1px solid transparent;
  line-height: 44px;
  font-style: normal;
  font-weight: 700;
}

.navbar {
  display: block;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: transparent;
}

.container {
  text-align: center;
}

.nav-menu {
  margin-top: -5px;
  float: none;
}

.nav-link {
  padding: 0px 10px;
  font-family: Montserrat, sans-serif;
  color: #3a73ba;
  font-size: 20px;
  font-weight: 300;
}

.nav-link-2 {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
}

.nav-link-3 {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-6 {
  padding-bottom: 50px;
  background-color: #333;
  background-image: url('../images/background-noise.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.portfolio-thumbnail {
  width: 360px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
  border-style: solid;
  border-width: 10px;
  border-color: #fff;
}

.container-2 {
  overflow: visible;
  margin-top: 0px;
  padding-top: 100px;
}

.thumbnail-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 15px;
}

.div-portfolio {
  padding-top: 60px;
}

@media (max-width: 991px) {
  .portfolio-thumbnail {
    width: 200px;
  }
  .thumbnail-block {
    margin: 10px;
  }
}

@media (max-width: 767px) {
  .name-heading {
    margin-top: 10px;
  }
  .row {
    width: 580px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .thumbnail-block {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
}

@media (max-width: 479px) {
  .heading {
    font-size: 5em;
  }
  .div-block-blue {
    display: none;
  }
  .header {
    width: auto;
    justify-items: stretch;
  }
  .div-type {
    width: auto;
    padding-top: 0px;
    justify-items: stretch;
    grid-row-gap: 24px;
  }
  .gray-box {
    display: none;
  }
  .nav-menu {
    margin-top: -10px;
  }
  .row {
    width: 330px;
  }
}

#w-node-123aadab747b-1d8306d9 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 4;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-8c5a5d8c4e20-1d8306d9 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 4;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

@media screen and (max-width: 479px) {
  #w-node-8c5a5d8c4e20-1d8306d9 {
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 4;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }
}

#w-node-4ce960080902-1d8306d9 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-dcae69169035-1d8306d9 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

@media screen and (max-width: 479px) {
  #w-node-dcae69169035-1d8306d9 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

#w-node-978285c28f4e-1d8306d9 {
  -ms-grid-column-align: center;
  justify-self: center;
}

@media screen and (max-width: 479px) {
  #w-node-978285c28f4e-1d8306d9 {
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}